@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 20px; /* Add padding to prevent elements from touching the edges */
}

.heading {
    text-align: center; /* Center the heading horizontally */
    margin-top: 100px; /* Add space below the heading */
    color: green;
    font-size: 40px; /* Adjust font size as needed */
}

.container {
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    margin: 0 auto; /* Center the container horizontally */
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}
.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid #bbb;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}
.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}
.controls .row.to .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}
.controls{
    list-style: none;
    padding: 12px 15px;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    background: #5372F0;
}